{% extends 'base.html' %}
{% block title %}Inicio - Sistema de Revisión{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 bg-white p-5 rounded shadow text-center">
      <h2 class="mb-4">Bienvenido</h2>
      <a href="/login_coordinador" class="btn btn-primary btn-lg w-100 mb-3">Coordinador</a>
      <a href="/login_logistica" class="btn btn-success btn-lg w-100">Logística</a>
    </div>
  </div>
</div>
{% endblock %}
